{% extends "base.html" %}
{% block content %}
<!-- Level 2: Shadow in the Inbox -->
<div class="max-w-7xl mx-auto">
    <!-- Opening Cutscene Modal -->
    {% include 'levels/level-2/components/cutscene-modal.html' %}

    <!-- Header with Mission Stats -->
    {% include 'levels/level-2/components/header.html' %}

    <!-- Main Game Interface -->
    {% include 'levels/level-2/components/game-interface.html' %}

    <!-- Mentor AI Panel -->
    {% include 'levels/level-2/components/mentor-panel.html' %}

    <!-- Modals -->
    {% include 'levels/level-2/components/results-modal.html' %}

    <!-- Navigation -->
    {% include 'levels/level-2/components/navigation.html' %}
</div>

<!-- Level 2 JavaScript -->
<script type="module" src="{{ url_for('static', filename='js/levels/level-2/level-2.js') }}"></script>
{% endblock %}
