{% extends "base.html" %}
{% block content %}
<!-- Level 3: Malware Mayhem -->
<div class="max-w-7xl mx-auto">
    <!-- Opening Cutscene Modal -->
    {% include 'levels/level-3/components/cutscene-modal.html' %}

    <!-- Header with Mission Stats -->
    {% include 'levels/level-3/components/header.html' %}

    <!-- Main Game Interface -->
    {% include 'levels/level-3/components/game-interface.html' %}

    <!-- Mentor AI Panel -->
    {% include 'levels/level-3/components/mentor-panel.html' %}

    <!-- Modals -->
    {% include 'levels/level-3/components/results-modal.html' %}

    <!-- Navigation -->
    {% include 'levels/level-3/components/navigation.html' %}
</div>

<!-- Level 3 JavaScript -->
<script type="module" src="{{ url_for('static', filename='js/levels/level-3/level-3.js') }}"></script>
{% endblock %}
