{% extends "base.html" %}
{% block content %}
<!-- Level 8: The White Hat Test -->
<div class="max-w-7xl mx-auto">
    <!-- Opening Cutscene Modal -->
    {% include 'levels/level-8/components/cutscene-modal.html' %}

    <!-- Header with Mission Stats -->
    {% include 'levels/level-8/components/header.html' %}

    <!-- Main Game Interface -->
    {% include 'levels/level-8/components/game-interface.html' %}

    <!-- Mentor AI Panel -->
    {% include 'levels/level-8/components/mentor-panel.html' %}

    <!-- Modals -->
    {% include 'levels/level-8/components/results-modal.html' %}

    <!-- Navigation -->
    {% include 'levels/level-8/components/navigation.html' %}
</div>

<!-- Level 8 JavaScript -->
<script type="module" src="{{ url_for('static', filename='js/levels/level-8/level-8.js') }}"></script>
{% endblock %}
